@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #FAFAFA;
    color: #111827;
  }
  
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.025em;
  }
}

.font-feature-settings {
  font-feature-settings: "cv11", "ss01";
}